html {
  font-family: Helvetica;
  text-align: center;
  border-left: 300px solid black;
  border-right: 300px solid black;

}
.title h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.set1 {
  color: white;
}

.menu {
  font-size: 18px;
  font-weight: bold;
}

.title {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: cover;
}

#newyork {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: cover;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

#copyright {
  font-size: 11px;
  color: white;
}
